{% extends 'base.html.twig' %}

{% block title %}
    {{'show_author_details'|trans}}
    {# {{ 'title_selected_task'|trans({'%id%': task.id|default('')}) }}#}
{% endblock %}

{% block body %}

    <h1>{{ 'title_selected_author'|trans({'%title%': author.title|default('')}) }}</h1>

    {% if author is defined and author|length %}
        <dl class="dl-horizontal"> {# dl tag, a list with term and descriptions #}
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ author.id }}</dd>
            <dt>{{ 'label_created_at'|trans }}</dt>
            <dd>{{ author.createdAt|date('d/m/Y') }}</dd>
            <dt>{{ 'label_updated_at'|trans }}</dt>
            <dd>{{ author.updatedAt|date('d/m/Y') }}</dd>
            <dt>{{ 'label_name_surname'|trans }}</dt>
            <dd>{{ author.title }}</dd>
            <dt>{{ 'label_description'|trans }}</dt>
            <dd>{{ author.description }}</dd>
            <dt><h4>{{ 'books_written'|trans }}</h4></dt>
        </dl>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label_id'|trans }}</th>
                <th>{{ 'label_title'|trans }}</th>
                <th>{{ ' ' }}</th>
                <th>{{ 'label_category'|trans }}</th>
                <th>{{ ' ' }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in book %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td><a href="{{ url('book_show', {'id':item.id}) }}">{{ 'show_book'|trans }}</a></td>
                    <td>{{ item.category.title }}</td>
                    <td><a href="{{ url('category_show', {'id':item.category.id}) }}">{{ 'show_category'|trans }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'author_not_found'|trans
        } %}
    {% endif %}

    <a href="{{ url('book_index') }}">{{'all_books_list_back'|trans}}</a><br>
    <a href="{{ url('author_index') }}">{{'all_authors_list_back'|trans}}</a>

{% endblock %}