{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_book_list'|trans }}
{% endblock %}

{% block body %}

    <h1><a href="{{ url('book_index') }}">{{ 'title_book_list'|trans }}</a></h1>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('book_create') }}">{{'title_book_create'|trans}}</a><br><br>
        {% endif %}
            <ul class="dl-horizontal"> {# dl tag, a list with term and descriptions #}
                {% if is_granted('ROLE_USER') %}
                <li><a href="{{ url('user_favourite_index') }}">{{'favourite_list'|trans}}</a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ url('author_index') }}">{{'author_list'|trans}}</a></li>
                <li><a href="{{ url('category_index') }}">{{'category_list'|trans}}</a></li>
                <li><a href="{{ url('tag_index') }}">{{ 'tag_list'|trans }}</a></li>
                <li><a href="{{ url('user_index') }}">{{ 'user_list'|trans }}</a></li>
                {% endif %}
            </ul>

    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'book.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_created_at'|trans, 'book.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_updated_at'|trans, 'book.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'book.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_author'|trans, 'author.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_category'|trans, 'category.title') }}</th>
                <th>{{ 'label_tag'|trans }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            {% for book in pagination.items %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.createdAt|date('Y/m/d') }}</td>
                    <td>{{ book.updatedAt|date('Y/m/d') }}</td>
                    <td>{{ book.title }}</td>
                    <td><a href="{{ url('author_show', {'id':book.author.id}) }}">{{ book.author.title }}</a></td>
                    <td><a href="{{ url('book_index', {'filters' : {'category' : book.category.id}}) }}" >{{ book.category.title }}</a></td>
                    <td>
                        {% for tag in book.getTags() %}
                            <a href="{{ url('book_index', {'filters' : {'tag' : tag.id}}) }}" >
                                    {{ tag.title }}
                            </a>
                        {% endfor %}
                    </td>
                    <td>
                            <a href="{{ url('book_show', {'id':book.id}) }}">{{ 'action_show'|trans }}</a>
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ url('favourite_add', {'id':book.id}) }}">{{ 'add_to_favourites'|trans }}</a><br>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('book_edit', {'id':book.id}) }}">{{ 'label_edit'|trans }}</a>
                            <a href="{{ url('book_delete', {'id':book.id}) }}">{{ 'label_delete'|trans }}</a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'empty_book_list'|trans
        } %}
    {% endif %}

{% endblock %}