{% extends 'base.html.twig' %}

{% block title %}
    {{ 'show_book_details'|trans }}
{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div>{{ app.user.username }}</div>
        <div>
            <a href="{{ url('app_logout') }}">{{ 'logout'|trans }}</a>
        </div>
    {% else %}
        <div>
            <a href="{{ url('app_login') }}">{{ 'log_in'|trans }}</a>
        </div>
    {% endif %}
    <h1>{{ 'title_book_details'|trans({'%title%': book.title|default('')}) }}</h1>
    {% if book is defined and book|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ book.id }}</dd>
            <dt>{{ 'label_created_at'|trans }}</dt>
            <dd>{{ book.createdAt|date('Y/m/d') }}</dd>
            <dt>{{ 'label_updated_at'|trans }}</dt>
            <dd>{{ book.updatedAt|date('Y/m/d') }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{ book.category.title }}</dd>
            <dt>{{ 'label_tag'|trans }}</dt>
            <dd>
                {% for tag in book.getTags() %}
                    {{ tag.title }}
                {% endfor %}
            </dd>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{ book.title }}</dd>
            <dt>{{ 'label_author'|trans }}</dt>
            <dd>{{ book.author.title }}</dd>
            <dt>{{ 'label_description'|trans }}</dt>
            <dd>{{ book.description }}</dd>
        </dl>

    {% else %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'book_not_found'|trans
        } %}
    {% endif %}
        <a href="{{ url('book_index') }}">
            {{ 'all_books_list_back'|trans }}
        </a>
{% endblock %}